{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <hr>

    <p>This message is informing you that the Jumbotron component,
        which was previously part of a library or framework
    </p>
    <p>A Jumbotron is typically a large, full-width container used to
         showcase key content or information at the top of a webpage. 
         The message suggests that, instead of relying on a specific Jumbotron component,
          you can achieve a similar result by using utility classes or other methods 
          provided by the library or framework.</p>
    </div>
    
</div>
{% endblock content %}
